body {
    background-image: url("../Pictures/ClemsonLogo.png"), url("../Pictures/ClemsonLogo.png");
    background-repeat: repeat-y, repeat-y;
    background-position: left top, right top;
    margin-left: 250px;
    margin-right: 250px;

    background-color: rgb(241, 146, 28);
}
nav {
    background-color: rgb(207, 126, 28);

    text-align: center;
    text-transform: capitalize;

    border: purple;
    border-style: double;
    border-radius: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 250px;
  }
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

div.container {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    display: flex;
    justify-content: center;
}

th, td {
    border: 1px solid;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

#motto {
    text-align: center;
}

#bttbtn {
    text-align: center;
}

#cpy {
    text-align: center;
}

#copyright {
    text-align: center;
}